<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="static/login.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen w-full bg-gradient-to-r from-green-500 via-blue-400 to-blue-600 rounded-lg shadow-md">
    <div class="block1">
        <img src="/static/logo.png" class="logo">
    </div>
    <div class="container1" id="formLog">

        <h1 class="custom-text">Здравствуйте!</h1>
        <form id="LogForm">
            <div class="input-username">
                <input type="text" placeholder="Логин" required=true id="name">
            </div>
            <div class="input-password">
                <input type="password" placeholder="Пароль" required=true id="password">
            </div>

            <p class="error-text" id="error3" hidden=true >Пожалуйста, повторите ввод</p>
            
            <div class="btn-holder">
                <button class="eyyy">ВОЙТИ</button>
            </div>
            <P>Нет аккаунта? <a href="/register"
                    class="underline decoration-black hover:decoration-black">Зарегистрироваться</a></P>
            <div class="divider">
                <span class="divider-text">или</span>
            </div>
            <a href="https://gosuslugi.ru" class="gosuslugi-btn">
                <img src="/static/gosyslygi-logo.png" alt="Госуслуги" class="gosuslugi-logo">
                <span>Войти через Госуслуги</span>
            </a>
        </form>
    </div>
    <script src="/static/formLog.js"></script>
</body>

</html>